<div class="row">
	<div class="span7 offset1">
		<h1>Coming Soon. <br>Fresh fruit juice delivery.</h1>
		<p>Having trouble getting fresh fruit juice?</p>
		<form action="http://nomnomnom.createsend.com/t/t/s/phle/" method="post" id="subForm">
		<div>
		<label for="name">Name:</label><input type="text" name="cm-name" id="name" />
		<label for="phle-phle">Email:</label><input type="text" name="cm-phle-phle" id="phle-phle" />
		<br>
		<input type="submit" value="Sign Up" class="btn btn-large btn-primary"/>
		</div>
		</form>
	</div>
</div>
<hr>
<div class="row">
	<div class="span5 offset1">
		<h2>Get fresh fruit juice.</h2>
		<p>Get it delivered to your doorstep with <br>a certain date & time consistency.</p>
	</div>
	<div class="span4 offset1">
		<img src="assets/fresh-fruit-juice.jpg">
	</div>
</div>
<hr>
<div class="row">
	<div class="span6 offset5">
		<h2>How do we ensure freshness of our juice?</h2>
		<p>Pre-orders.<br>If you could tell us how often you would like to have our drink, 
we can plan in advance to make sure we handpick fresh quality fruits for you.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="span6 offset1">
		<h2>How do we make our juice affordable?</h2>
		<p>Location by demand ensures efficient delivery</p>
	</div>
</div>

