$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarHeight: 50px;
$bodyBackground: #dcf5ff;
/*- $sansFontFamily: 'Open Sans', Arial, sans-serif; -*/

@import 'bootstrap';

.row {
	padding: 30px 0px;
}